section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--primary-color);
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
  background-color: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: var(--card-bg-color);
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

strong{
  background-color: transparent;
}

.welcome-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.5rem;
}

.personal-data, .topics {
  background-color: var(--card-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.topic-item {
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.topic-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topic-title {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.topic-message {
  font-style: italic;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.topic-details {
  font-size: 0.9rem;
  color: #777;
}

.view-responses {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.view-responses:hover {
  background-color: var(--secondary-color);
  color: white;
}

@media (max-width: 600px) {
  section {
    padding: 1rem;
  }

  .personal-data, .topics {
    padding: 1rem;
  }
}
